@green: #036903;
@blue: #2859e2;

	*{
		margin: 0;
		padding: 0;
	}

	.transition{
		-webkit-transition: all 0.2s linear;
	    -moz-transition: all 0.2s linear;
	    -o-transition: all 0.2s linear;
	    transition: all 0.2s linear;
	}

	.capitalize{
		text-transform: capitalize;
	}

	.fake-link {
	    font-size: 10px;
	    color: #1c49ca;
	    text-decoration: underline;
	    cursor: pointer;
	}

	.inline-block{
		display: inline-block !important;
	}

	.hidden{
		display: none;
	}

	.btn{
		.transition;
		height: 100%;
		cursor: pointer;
		border: 0;
	    outline: 0;
	    font-size: 17px;
	    font-family: 'Roboto';
		&:hover{
	    	.transition;
		}
	}

	.green-btn{
	    background: #109410;
	    color: white;
	    text-shadow: -1px 1px 0 #055f05;
	    font-weight: bold;

	    &:hover{
			background: #068806;
    		border-color: #186d18;
		}

	    & .fa{
	    	font-size: 0.85em;
	    	margin-left: 3px;
	    }
	}


/////////////////////////////////////////////////////


	body{
		font-family: 'Open Sans', arial;
		font-size: 14px;
	}

	input[type="radio"] {
	    display: none;
	}

	input[type="radio"] + label {
		.transition;
	    color: #666;
	    border: 1px solid;
	    display: block;
	    margin: 0;
	    padding: 4px 6px;
	    border-radius: 2px;
	    margin-top: 7px;
	    color: rgb(128, 128, 128);
	    cursor: pointer;
	    font-size: 14px;
	    font-weight: bold;

	    &:first-of-type{
	    	margin-top: 0;
	    }

	    &:hover {
		    background: #b5b5b5;
		    cursor: pointer;
		    color: #636363;
		}
	}

	input[type="radio"]:checked + label{
		.transition;
		 color: #ffffff;
    	 background: #233871;
    	 & .extras-price{
    	 	color: #b5b5b5;
    	 }
	}


	.landing-page{
		background: url('../img/thai.png');
		background-attachment: fixed;
		background-size: cover;
	}

	.menu-page{
		background: url('../img/restaurant.png');
		background-attachment: fixed;
		background-size: cover;
	}

	.container{
		display: flex;
		flex-direction: row;
	}

	header{
		padding: 15px 20px;
		border-bottom: 1px solid gray;
		background: white;
		z-index: 1;
		position: relative;

		& a{
			text-decoration: none;
		}
	}

	.content {
	    background: linear-gradient(to bottom,#000 0,rgba(255,255,255,0) 250px,rgba(255,255,255,0) 100%);
	    display: block;
	    min-height: 250px;
	    width: 100%;
	}


	.splash-header{
		    color: rgba(255, 255, 255, 0.92);
		    text-align: center;
		    font-size: 29px;
		    text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.75);
		    margin: 50px 0;
	}

	.loc-list {
	    width: 70%;
	    padding: 20px;
	    background: rgba(255, 255, 255, 0.86);
	    border-radius: 15px;
	    margin: 0 auto;
	}

	.location-list{
		font-family: 'Roboto';
		list-style: none;
		font-size: 16px;
		font-weight: bold;

		& li{
			padding: 5px 0;
			margin: 5px 0;
			border-bottom: 1px dotted gray;
			cursor: pointer;

			&:last-of-type{
				border-bottom: 0;
				margin-bottom: 0;
			}
		}

		& a{
			text-decoration: none;
			color: red;
		}

		& .fa{
			font-weight: normal;
			float: right;
			opacity: 0.5;
			margin-right: 5px;
		}
	}

	.block-link{
		display: block;
	}

	.row{
		flex: 1;
	}

	button{
		cursor: pointer;
	}

	button.active {
	    background: #4e86da;
	    border: 1px solid #396bb7;
	    color: white;
	    text-shadow: -1px 1px 0 #2357a5;
	}

	button:focus, button:active{
		outline: 0;
	}


/* Menu Page */

	.menu-category {
	    background: rgba(255, 255, 255, 0.85);
	    margin: 15px;
	    padding: 15px;
	    font-size: 16px;
	    border-radius: 10px;
	}

	.category-title {
	    font-weight: 700;
	    font-size: 19px;
	    border-bottom: 1px solid;
	    margin-bottom: 6px;
	    color: rgb(58, 57, 57);
	}

	.menu-item {
	    margin: 15px 0;
	    font-size: 16px;
	    position: relative;
	    border-bottom: 1px solid #908c8c;
	    padding-bottom: 15px;
	    cursor: pointer;

	    &:last-of-type{
	    	border-bottom: 0;
	    	padding-bottom: 0;
	    	margin-bottom: 0;
	    }
	}

	.menu-item-title {
		font-family: 'Roboto';
	    max-width: 75%;
	    color: #b72c02;
	    text-shadow: -1px 1px 0 white;
	    font-weight: bold;
	    font-size: 16px;
	}

	.menu-item-price {
	    position: absolute;
	    top: 0;
	    right: 0;
	    display: inline-block;
	    width: 18%;
	    color: @green;
	    font-weight: bold;
	    font-size: 12px;
	    text-align: right;
	}

	.menu-item-description {
	    color: #292929;
	    font-size: 14px;
	}

	.item-sub-menu {
		display: none;
	    margin-top: 8px;
	    border-left: 4px solid #b72c02;
	    padding-left: 10px;
	}

	.sub-item-img{
		width: 40%;
	}

	.sub-item-meta {
	    display: inline-block;
	    vertical-align: top;
	    width: 58%;
	    margin-bottom: 7px;
	}

	.sub-item-form {
	    font-family: arial;
	    margin-left: 5px;
	}

	.sub-item-form input {
	    margin-left: 11px;
	    margin-bottom: 8px;
	}

	.sub-item-form label {
		.capitalize;
	    font-size: 11px;
	    vertical-align: top;
	    position: relative;
	}

	.sub-item-quantity {
	    display: inline-block;
	    margin-right: 15px;
	    margin-top: 7px;
	}
	
	.extras-price {
	    letter-spacing: 1px;
	    float: right;
	    color: @green;
	    font-size: 11px;
	}

	.item-order-quantity {
		text-align: center;
	    width: 22px;
	    padding: 3px;
	    margin: 0 10px;
	}

	.qty-btn {
		.transition;
	    background: #2859e2;
	    padding: 5px 7px 4px 7px;
	    font-size: 14px;
	    border-radius: 100%;
	    color: rgba(243, 243, 255, 0.95);
	    text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.73);

	    &:hover{
	    	background: #24439c;
	    }
	}

	.add-to-cart-btn {
		.transition;
	    padding: 7px 13px;
	    vertical-align: text-bottom;
	    margin-bottom: -3px;
	    margin-left: -4px;
	    border-radius: 2px;
	    border: 0;
	    font-size: 12px;
	    background: @blue;
	    font-family: 'Open Sans';
	    color: #fff;
	    text-shadow: -1px 1px 0 #19337d;

	    &:hover{
	    	background: #24439c;
	    }
	}

	.hide-sub-menu-btn {
	    font-size: 10px;
	    cursor: pointer;
	    color: #da2b2b;
	    padding: 3px;
	    margin-left: 5px;
	    vertical-align: text-bottom;
	    text-decoration: underline;
	 }

	.location-name,
	.open-order,
	.change-location {
		margin-left: 1%;
		display: none;
	}

	.location-name {
		color: #009900;
		font-family: "Helvetica";
		font-size: 1.25em;
	}

	.order-price {
	    float: right;
	    font-size: 11px;
	    color: @green;
	}

	.open-order {
	    color: red;
	    cursor: pointer;
	    position: absolute;
	    bottom: 17px;
	    right: 20px;
	}

	.change-location {
		color: #C62C02;
		font-size: 0.75em;
		font-family: "Helvetica";
		cursor: pointer;
	}




	// Order Panel

	.order-panel {
		display: none;
	    position: fixed;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    height: 55px;
	    background: rgba(255,255,255,.86);
	    text-align: center;

		
		.order-total {
		    line-height: 54px;
		    font-size: 17px;
		    width: 49%;
		    color: #1d1d1d;
		}

	} // end .order-panel

	.review-order-btn{
		.transition;
		cursor: pointer;
		height: 100%;
	    float: right;
	    border: 0;
	    outline: 0;
	    background: #109410;
	    color: white;
	    font-family: 'Roboto';
	    font-size: 17px;
	    border-left: 4px solid #055f05;
	    text-shadow: -1px 1px 0 #055f05;
	    font-weight: bold;
	    width: 49%;

	    &:hover{
	    	.transition;
			background: #068806;
    		border-color: #186d18;
		}

	    & .fa{
	    	font-size: 0.85em;
	    	margin-left: 3px;
	    }
	}

	.close-modal {
	    float: right;
	    margin: 6px 6px 0 0;
	    cursor: pointer;
	    color: #666;
	    .transition;

	    &:hover{
	    	.transition;
	    	color: black;
	    }
	}
	
	.order-modal {
		display: none;
	    position: fixed;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    background: rgba(0, 0, 0, 0.78);
	    z-index: 2;
	    box-shadow:0 8px 6px -6px rgba(0,0,0,.25)
	}

	.order-modal h2 {
	    color: #dc5b00;
	    border-bottom: 2px solid;
	    margin-bottom: 6px;
	}	

	.order-review {
	    border-radius: 5px;
	    background: white;
	    display: block;
	    margin: 15px;
	    margin-bottom: 5px;
	    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.18);
	    padding: 10px
	}

	.order-modal .order-list {
	    padding-left: 5px;
	    font-family: arial;
	    list-style-type: none;
	    margin: 10px 0;
	    max-height: 180px;
	    overflow-y: auto;
	    font-size: 11px;
	    border-bottom: 1px dotted #7d7c7c;
	}

	.order-list-item {
	    border-bottom: 1px solid #c1c1c1;
	    padding-bottom: 5px;
	    margin-bottom: 5px;
	    position: relative;

	    &:hover .order-list-title {
		    text-decoration: underline;
		}

	    &:last-of-type{
	    	border-bottom: 0;
	    }
	}
	
	.order-list-extra {
	    font-size: 9px;
	    display: inline-block;
	}

	.order-list-qty {
	    font-size: 9px;
	    display: inline-block;
	    margin-left: 5px;
	}

	.order-list-price {
	    position: absolute;
	    top: 0;
	    right: 0;
	    color: @green;
	    font-weight: bold;
	    font-size: 11px;
	}

	.order-modal-menu {
	    font-size: 13px;
	    margin-bottom: 6px;
	}

	.order-list-icon {
	    float: left;
	    margin-top: 4px;
	    margin-right: 6px;
	    color: #717171;
	    font-size: 12px;
	}

	.order-list-sub-btn {
	    padding: 2px 0;
	    background: white;
	    border: 1px solid gray;
	    margin: 0 1%;
	    display: inline-block;
	    width: 30%;
	    border-radius: 2px;

	    &:hover{
    		background: #cccccc;
	    }
	}

	.order-list-sub-menu {
		display: none;
	    margin: 7px 0;
	}

	.order-form-block {
	    margin: 5px 0;
	}

	.pay-cash-radio {
	    margin-left: 5px;
	}

	.order-total-modal {
	    border-top: 2px dotted rgba(0, 0, 0, 0.8);
	    margin-top: 10px;
	}

	.modal-coupon {
	    margin: 3px;
	    margin-top: 7px;
	}

	.coupon-code {
	    padding: 4px;
	    font-size: 10px;
	    border: 1px solid #a7a7a7;
	    border-radius: 3px;
	    margin-left: 4px;
	    display: none;
	}

	.order-for-value {
	    text-transform: capitalize;
	}

	.modal-page{
		display: none;
	}

	.modal-page-1{
		display: block;
	}

	.modal-nav {
		display: flex;
		flex-direction: row;
	    margin: 0 15px;
	    text-align: center;
	}

	.modal-navigation-btn {
	    flex: 1;
	    padding: 15px;
	    box-shadow: 0 8px 6px -6px rgba(0,0,0,.25);
	    margin: 0;
	}

	.modal-nav-next,
	.modal-nav-complete{
		border-right: 4px solid #055f05;
		border-radius: 0 5px 5px 0;
	}

	.modal-nav-back{
		border-radius: 5px 0 0 5px;
	}

	.order-collect-at {
	    padding: 3px 7px;
	    margin-top: 3px;
	    border-radius: 3px;
	}

	.modal-input-text {
	    padding: 3px;
	    font-size: 13px;
	}

	.credit-card-block{
		position: relative;
	}

	.address-line-2{
		margin-top: 5px;
	}