
*{
	margin: 0;
	padding: 0;
}

body{
	overflow-y: scroll;
	font-family: 'Helvetica', arial, 'Roboto', 'Open Sans';
	font-size: 14px;
	width: 900px;
	margin: 0 auto;
	padding: 35px;
	background: #dedede;
}

header{
	border-bottom: 1px solid #666;
}

.loading-spinner {
	margin-top: 35px;
    text-align: center;
    font-size: 27px;
    color: #666;
    font-variant: small-caps;
}

.loading-spinner .fa {
    font-size: 15px;
    position: relative;
    top: -3px;
}

.table-row {
    margin: 10px;
    width: 200px;
    display: inline-block;
    vertical-align: top;
    border-left: 4px solid #666;
    padding-left: 10px;
    cursor: pointer;
    padding: 5px 0 5px 10px;
}

.table-row.order-row:hover {
    background: rgba(0, 0, 0, 0.07);
}

.key-label {
    color: #666;
}

.order-display-wrapper {
	display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}

.order-display {
    background: white;
    padding: 35px;
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 2px;
}

.close-dialog{
	cursor: pointer;
}

.dialog-order-qty {
    float: right;
}

.order-space {
    padding-top: 10px;
    border-top: 1px solid gray;
}

.dialog-order-title {
    margin: 5px 0;
}