@import 'variables';
	

	@media screen and(min-width: 720px){
		
		.desktop-column {
		    float: right;
		    width: 34.999%;
		    position: relative;
		}

		.desktop-column:not(.hidden){
			display: inline;
		}

		.desktop-wrapper{
			position: relative;
			max-width: 900px;
			display: block;
			margin: 0 auto;
		}

		.content .desktop-wrapper{
			padding: 35px;
			padding-bottom: 150px;
			background: rgba(255,255,255, 0.3);
			height: 100%;
			border-left: 2px solid green;
			border-right: 2px solid green;
		}

		header {
		    position: fixed;
		    top: 0;
		    left: 0;
		    right: 0;
		}

		.splash-header,
		.menu-list,
		.desktop-column{
		   // margin-top: 60px;
		}
		
		.menu-list{
			width: 65%;
    		display: inline-block;
		}

		.open-order {
		    bottom: 0;
		    right: 0;
		}

		.sub-item-img{
			width: 30%;
		}

		:not(.order-modal) input[type=radio]+label {
		    font-family: arial;
		    font-size: 15px;
		    padding-left: 8px;
		    padding-right: 8px;
		}
		
		.sub-item-quantity{
			width: 30%;
			text-align: center;
		}

		.sub-item-meta{
			margin-bottom: 13px;
		}

		.extras-price {
		    font-family: arial;
		    position: relative;
		    top: 0;
		}

		.add-to-cart-btn{
		    font-size: 15px;
		    font-weight: bold;
		}

		.hide-sub-menu-btn {
		    font-size: 12px;
		}

		.order-list-item{
			cursor: pointer;
		}

		.address-line-2{
			display: block;
		}
	

		.desktop-column .menu-category {
		    margin-left: 0;
		    margin-right: 0;
		}

		.order-placed {
			display: none;
		    position: absolute;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    background: rgb(16, 148, 16);
		    margin: 15px 0;
		    border-radius: 6px;
		    text-align: center;
		    color: white;
		    font-size: 27px;
		    text-shadow: -1px 1px 0 #055f05;
		    padding-top: 50%;

		    & small{
		    	font-size: 20px;
		    	font-variant: small-caps;
		    	& .fa{
		   			font-size: 14px;
		    	}
		    }

		    & button {
		    	.transition;
			    width: 100%;
			    padding: 35px;
			    border: 0;
			    background: rgba(0, 0, 0, 0.3);
			    font-size: 19px;
			    margin-top: 35px;
			    color: #109410;
			    text-shadow: -1px 1px 0 #064c06;

			    &:hover{
			    	.transition;
			    	background: rgba(0, 0, 0, 0.44);
			    }
			}
		}

		.coupon-code{
			margin: 0;
		}

		.order-list {
			margin-top: 10px;
		    list-style-type: none;
		    font-size: 13px;
		    font-family: arial;
		}

		.order-total-modal {
		    border-top: 2px dotted rgba(0,0,0,.8);
		    margin-top: 10px;
		}

		.desktop-order-total{
			display: none;
		}

		.desktop-place-order-block,
		.desktop-form{
			display: none;
		}

		.please-select-item {
		    margin: 35px 0 25px 0;
		    font-size: 20px;
		    color: rgb(120, 156, 81);
		    text-align: center;

		    & .fa{
		    	font-size: 16px;
		    	margin-right: 7px;
		    	margin-left: -7px;
		    }
		}
	
		.desktop-place-order {
			.transition;
		    width: 100%;
		    padding: 11px;
		    margin-top: 5px;
		    border-right: 4px solid #055f05;
		    border-radius: 3px;
		     box-shadow:0 8px 6px -6px rgba(0,0,0,.25);
		}

		
		.place-order-hr {
		    border: 0;
		    height: 1px;
		    background: #b3b3b3;
		    margin: 12px 0 8px 0;
		}

		.item-order-quantity{
			width: 25%;
		}
		

		// order form for desktop styling

		.desktop-order-form {

			input[type=number],
			input[type=text]{
				.transition;
			    padding: 7px 5px;
			    border: 0;
			    border: 1px solid gray;
			    font-size: 12px;
			    width: 94%;
			    margin-top: 3px;
			    border-radius: 1px;
			    color: #272727;
			    letter-spacing: 0.5px;

			    &:active,
			    &:focus{
			    	outline: 0;
			    	border: 1px solid @blue;
			    }
			}

			p{
				font-size: 14px;
			    margin: 5px 0 3px 0;
			}

			.order-form-block{
				margin: 10px 0;
			}

		}


	
		// Importants, for desktop/mobile jQuery issues
	
		.order-panel,
		.order-modal{
			display: none !important;
		}

		.open-order{
			cursor: default !important;
		}

		.exp-input,
		.csv-input {
		    letter-spacing: 3px !important;
		}

	}